paramiko>=3.4.0
psycopg2-binary>=2.9.9
openpyxl>=3.1.2
pandas>=2.2.0
requests>=2.32.0
boxsdk[jwt]>=3.9.2,<4
google-api-python-client>=2.160.0
google-auth-httplib2>=0.2.0
google-auth-oauthlib>=1.2.1
Pillow>=10.4.0
boto3>=1.35.0
